[package]
name = "tpi_rs"
version = "1.3.0"
edition = "2021"
license = "Apache-2.0"

[lib]
crate-type = ["lib", "staticlib"]

[dependencies]
anyhow = "1.*"
bincode = "1.3.3"
bytes = "1.4.0"
crc = "3.0.1"
evdev = { version = "0.12.1", features = ["tokio"] }
futures = "0.*"
gpiod = { version = "0.2.3", default-features = false }
log = "0.4.19"
once_cell = "1.18.0"
rockusb = "0.1.1"
rusb = "0.9.2"
rustpiboot = { git = "https://github.com/ruslashev/rustpiboot.git", rev="89e6497" }
serde = { version = "1.0.175", features = ["derive"] }
simple_logger = { version = "4.2.0", default-features = false, features = ["colors"] }
sqlx = { version = "0.7.1", features = [
    "runtime-tokio-rustls",
    "sqlite"
] }
tokio = { version = "1.29.1", features = [
    "rt-multi-thread",
    "rt",
    "time",
    "macros",
    "io-util"
] }

[profile.release]
lto = "thin"
opt-level = "z"
strip = true
